h2.subheader = @meeting.meeting_date.strftime("%B %d, %Y")

= link_to "New Resolution", new_resolution_path, id: "new_link", :remote => true

ul
  = render :partial => 'resolutions/resolution', :collection => @meeting.resolutions