/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 
*/



ul {
  list-style: none; 
}

label.vote {
  display: inline;
}
.custom.radio {
  margin: 0 7px 0 7px;
}

.fixed {
  position: fixed;
}

input.radio {
  display: none;
}

#votes_chart {
  width: 450px;
  height: 300px;
}