| var string = "#{ j render :partial => "vote_types/vote_type", :collection => @vote_types, :locals => { :resolution => @resolution }}";
| $('.counter').html(string);
| //var aye = blah;
| //var nay = +$(".nay").html();
| //var abstain = +$(".abstain").html();


